{{sub.title}}

<table class="table table-bordered table-hover">
    <thead>
        <tr class="header">
            <th>ID</td>
            <th>Name</td>
            <th>Price</td>
            <th>Action</td>
        </tr>
    <thead>
    <tbody>
        {{#each category in store._categories}}
            <tr>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.descr}}</td>
                <td>
                    <a href="#" {{action editCategory category}}>Edit<a/> &nbsp;&nbsp;
                    <a href="#" {{action deleteCategory category}}>Delete<a/> &nbsp;&nbsp;
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

