{{store.id}}
<table class="table table-bordered table-hover">
    <thead>
        <tr class="header">
            <th>ID</td>
            <th>Name</td>
            <th>Action</td>
        </tr>
    <thead>
    <tbody>
            {{#each category in categories}}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>
                        <a href="#" {{action showProductList category}}>View<a/> &nbsp;&nbsp;
                        <a href="#" {{action editCategory category}}>Edit<a/> &nbsp;&nbsp;
                        <a href="#" {{action deleteCategory category}}>Delete<a/> &nbsp;&nbsp;
                    </td>
                </tr>
            {{/each}}
    </tbody>
</table>

