{{view Admin.HeaderView}}
<div id="app_list" class="formContaner row-fluid">
    <div class="new">
        <a href="#" {{action createApp}}>Create<a/>
    </div>
    <table class="table table-bordered">
        <tr class="header">
            <th>ID</td>
            <th>Name</td>
            <th>Description</td>
            <th>Action</td>
        </tr>
        {{#each app in content}}
            <tr>
                <td>{{app.id}}</td>
                <td>{{app.name}}</td>
                <td>{{app.descr}}</td>
                <td>
                    <a href="#" {{action viewApp app}}>View<a/> &nbsp;&nbsp;
                    <a href="#" {{action editApp app}}>Edit<a/> &nbsp;&nbsp;
                    <a href="#" {{action deleteApp app}}>Delete<a/> &nbsp;&nbsp;
                    <a href="#app/{{unbound app.id}}/run" target="_blank">Run</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
{{view Admin.FooterView}}