<form id="productEditForm" action="#" class="form-horizontal">
    <div id="content">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                {{view Ember.TextField name="name" valueBinding="name" classNames="required"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="price">Price</label>
            <div class="controls">
                {{view Ember.TextField name="price" valueBinding="price" classNames="required number"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="freight">Freight</label>
            <div class="controls">
                {{view Ember.TextField name="freight" valueBinding="freight" classNames="required number"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="descr">Descr</label>
            <div class="controls">
                {{view Ember.TextArea name="descr" valueBinding="descr"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="flatRate">FlatRate</label>
            <div class="controls">
                {{view Ember.Checkbox name="flatRate" checkedBinding="flatRate" classNames=""}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="flatRate">Images</label>
            <div class="controls">
                <span class="btn fileinput-button">
                	<i class="icon-upload"></i>
                	<span>Upload...</span>
                	<input id="fileupload" type="file" name="files[]" accept="image/*">
                </span>
                <span class="fileinput-preview">
                      {{#each pictures}}
                          <img id="{{unbound id}}" src="/{{unbound src}}" class="img-rounded thumb">
                      {{/each}}
                </span>
            </div>
        </div>

    </div>
    <div id="toolbar">
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" {{action saveProduct .}}>Save</button>&nbsp;&nbsp;
                <button type="reset" class="btn">Reset</button>
            </div>
        </div>
    </div>
</form>