<a href="#" {{action createProduct category}}>Create<a/>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="header">
            <th>ID</td>
            <th>Name</td>
            <th>Price</td>
            <th>Image</td>
            <th>Action</td>
        </tr>
    <thead>
    <tbody>
        {{#each product in products}}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td class="show-one">
                    <img src="/{{unbound product.thumb}}" class="img-rounded thumb">
                </td>
                <td>
                    <a href="#" {{action editProduct product}}>Edit<a/> &nbsp;&nbsp;
                    <a href="#" {{action deleteProduct product}}>Delete<a/> &nbsp;&nbsp;
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>




